<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Gallery</title>
</head>
<body>
<h1>Uploaded Images</h1>
<form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file" required>
    <button type="submit">Upload</button>
</form>
<h2>Images:</h2>
    <div>
        <div th:each="image : ${images}">
            <!--  /*@thymesVar id="image" type="com.syvodid.webservice.models.Image"*/-->
            <img th:src="@{${image.imagePath}}" alt="Image">
        </div>
    </div>
</body>
</html>
